# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Aspire\Documents\Documents Aline\Mata Kuliah\Bahasa Pemrograman\Tugas Pemrograman\Pertemuan-7\Pertemuan7-PPT2-Labspy2\PERTEMUAN7-PPT2-Labspy2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
